<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container py-5">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="text-primary text-uppercase">medicines management </h1>
            <button class="btn btn-primary"><a href="/medicines/addMedicine/" class="text-white text-decoration-none">add medicine</a></button>
        </div>
        <table class="table my-2">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>category</td>
                    <td>price</td>
                    <td>stock</td>
                    <td>requires prescription</td>
                    <td>actions</td>
                </tr>
            </thead>
            <tbody>
                {% if medicines %}
                    {% for medicine in medicines %}
                        <tr>
                            <td>{{ medicine.id }}</td>
                            <td>{{ medicine.name }}</td>
                            <td>{{ medicine.category }}</td>
                            <td>{{ medicine.price }}</td>
                            <td>{{ medicine.stock }}</td>
                            <td>{{ medicine.requires_prescription }}</td>
                            <td class="d-flex justify-content-start">
                                <button class="btn me-2"><a href="text-decoration-none"><i class="fa-solid fa-trash text-danger "></i></a></button>
                                <button class="btn me-2"><a href="text-decoration-none"><i class="fa-solid fa-trash text-warning"></i></a></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="7">no elements found</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>